header {
    background: #0F4607;
    padding: 20px;
    background: -moz-linear-gradient(topo, #0F4607 0%, #00882A 50%, #0F4607 100%);
    background: -webkit-linear-gradient(topo, #0F4607 0%, #00882A 50%, #0F4607 100%);
    background: linear-gradient(to right, #0F4607 0%, #00882A 50%, #0F4607 100%);
}

.caixa {
    position: relative;
    width: 900px;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 250px;
    right: 0;
}

nav li {
    display: inline;
    margin: 0 0 0 20px;
}

nav a {
    text-transform: uppercase;
    color: rgb(137, 179, 147);
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

.produtos {
    width: 1200px;
    margin: auto;
    padding: 50px 0;
}

.produtos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    background: #0F4607;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
}

.produtos h2 {
    font-size: 30px;
    font-weight: bold;
}

.produto-descriçao {
    font-size: 18px;

}

.produto-preço {
    font-size: 22px;
    font-weight: bold;
    margin: 10px 0 0;
    margin-top: 10px;
}

