body {
    background: #bfdabb
}

#banner5 {
    width: 100%;
}

h1 {
    text-align: center;
}

p {
    text-align: center;  
}

strong{
    color: rgb(72, 133, 48);
}
 


 

