body {
    background: #bfdabb
}

#banner2.jpg {
    width: 50%;
    height: 400px;
}

h1 {
    text-align: center;
}

p {
    text-align: center;  
}

strong{
    color: rgb(72, 133, 48);
}
 


 

