body {
    background: #72a06b
}

#banner5.jpg {
    width: 100%; width: 25em
}

h1 {
    text-align: center;
}

p {
    text-align: center;  
}

strong{
    color: rgb(33, 77, 16);
}
 


 

